<div class="col-lg-4 col-md-4">
    <div class="form-group input-group">
        {{ form_label(form_attribute.name, 'Attribute name:') }}
        {{ form_widget(form_attribute.name,  {'attr': {'placeholder':'Name', 'title':'Name', 'class':'form-control'}}) }}
        {{ form_label(form_attribute.weight, 'This word is... ') }}
        {{ form_widget(form_attribute.weight,  {'attr': {'placeholder':'Weight', 'title':'Weight', 'class':'form-control'}}) }}
        {{ form_label(form_attribute.weight, 'This determines the score for this word. ') }}
    </div>
</div>
</div>