<div id="f-attribute" class="form add-form">
    <form method="POST" class="ajaxForm" action="{{path('proccessEntity',{ 'type': 'attribute'})}}" {{ form_enctype(form_attribute) }}>
        <div id="form_body">
            {% include 'SatisfactionMeterBundle:Forms:addAttributeForm.html.twig' with {'form_attribute': form_attribute} %}
            <button type="submit" class="btn btn-primary"><span class="glyphicon glyphicon-ok" aria-hidden="true"></span>Submit Attribute</button>
        </div>
        {{form_rest(form_attribute)}}
    </form>
</div>