<div id="f-csv" class="form add-form">
    <p>Please, note that the first row of the CSV will not be inserted, as typically it contains the name of the values. Example CSVs were provided.</p>
    <form method="POST" class="ajaxForm" action="{{path('proccessUploadCsv')}}" {{ form_enctype(form_csv) }}>
        <div id="form_body">
            {% include 'SatisfactionMeterBundle:Forms:addCsvForm.html.twig' with {'form_csv': form_csv} %}
            <button type="submit" class="btn btn-primary">Submit Csv</button>
        </div>
        {{form_rest(form_csv)}}
    </form>
</div>