<div class="col-lg-4 col-md-4">
    <div class="form-group input-group">
        {{ form_label(form_csv.type, 'What will the CSV contain?:') }}
        {{ form_widget(form_csv.type,  {'attr': {'placeholder':'Type', 'title':'Type', 'class':'form-control'}}) }}
        {{ form_label(form_csv.file, 'Please, select the CSV to upload:') }}
        {{ form_widget(form_csv.file,  {'attr': {'placeholder':'File', 'title':'File', 'class':'form-control'}}) }}
    </div>
</div>
</div>