<form method="POST" class="ajaxForm" action="{{path('proccessEntity',{ 'type': 'review'})}}" {{ form_enctype(form_review) }}>
    <div id="form_body">
        {% include 'SatisfactionMeterBundle:Forms:addreviewForm.html.twig' with {'form_review': form_review} %}
        <button type="submit" class="btn btn-primary"><span class="glyphicon glyphicon-ok" aria-hidden="true"></span>Submit Review</button>
    </div>
    {{form_rest(form_review)}}
</form>