<div class="col-lg-4 col-md-4">
    <div class="form-group input-group">
        {{ form_label(form_remark.name, 'Remark that can change the meaning of a phrase. (For instance: Very, Not, Quite):') }}
        {{ form_widget(form_remark.name,  {'attr': {'placeholder':'Name', 'title':'Name', 'class':'form-control'}}) }}
        {{ form_label(form_remark.weight, 'Is this word giving a bit of emphasis or a lot? (Example, "very" vs "amazingly"):') }}
        {{ form_widget(form_remark.weight,  {'attr': {'placeholder':'Weight', 'title':'Weight', 'class':'form-control'}}) }}
        {{ form_label(form_remark.changer, 'Will this remark change the meaning of the phrase? (Examples: Not, Was not):') }}
        {{ form_widget(form_remark.changer,  {'attr': {'placeholder':'Changer', 'title':'Changer', 'class':'form-control'}}) }}
    </div>
</div>
</div>