<div class="col-lg-4 col-md-4">
    <div class="form-group input-group">
        {{ form_label(form_review.id_hotel, 'Select the hotel you will talk about:') }}
        {{ form_widget(form_review.id_hotel,  {'attr': {'placeholder':'Id_Hotel', 'title':'Id_Hotel', 'class':'form-control'}}) }}
        {{ form_label(form_review.text, 'Please, tell us your thoughts:') }}
        {{ form_widget(form_review.text,  {'attr': {'placeholder':'Text', 'title':'Text', 'class':'form-control'}}) }}
    </div>
</div>
</div>