<div id="f-remark" class="form add-form">
<form method="POST" class="ajaxForm" action="{{path('proccessEntity',{ 'type': 'remark'})}}" {{ form_enctype(form_remark) }}>
    <div id="form_body">
        {% include 'SatisfactionMeterBundle:Forms:addremarkForm.html.twig' with {'form_remark': form_remark} %}
        <button type="submit" class="btn btn-primary"><span class="glyphicon glyphicon-ok" aria-hidden="true"></span>Submit Remark</button>
    </div>


    {{form_rest(form_remark)}}
</form>
</div>