<div class="col-lg-4 col-md-4">
    <div class="form-group input-group">
        {{ form_label(form_topic.name, 'Topic that will be searched on reviews:') }}
        {{ form_widget(form_topic.name,  {'attr': {'placeholder':'Name', 'title':'Name', 'class':'form-control'}}) }}
    </div>
</div>
</div>