<div id="f-topic" class="form add-form">
<form method="POST" class="ajaxForm" action="{{path('proccessEntity',{ 'type': 'topic'})}}" {{ form_enctype(form_topic) }}>
    <div id="form_body">
        {% include 'SatisfactionMeterBundle:Forms:addTopicForm.html.twig' with {'form_topic': form_topic} %}
        <button type="submit" class="btn btn-primary"><span class="glyphicon glyphicon-ok" aria-hidden="true"></span>Submit Topic</button>
    </div>

    {{form_rest(form_topic)}}
</form>
</div>