<form method="POST" class="ajaxForm" action="{{path('proccessRemoveEntity',{ 'type': 'remark'})}}" {{ form_enctype(form_remove_remark) }}>
        <div id="form_body">
            {% include 'SatisfactionMeterBundle:Forms:removeremarkForm.html.twig' with {'form_remove_remark': form_remove_remark} %}
            <button type="submit" class="btn btn-primary remove-btn"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span>Remove selected Remarks</button>
        </div>

        {{form_rest(form_remove_remark)}}
</form>
