<form method="POST" class="ajaxForm" action="{{path('proccessRemoveEntity',{ 'type': 'attribute'})}}" {{ form_enctype(form_remove_attribute) }}>
        <div id="form_body">
            {% include 'SatisfactionMeterBundle:Forms:removeattributeForm.html.twig' with {'form_remove_attribute': form_remove_attribute} %}
            <button type="submit" class="btn btn-primary remove-btn"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span>Remove selected Attributes</button>
        </div>

        {{form_rest(form_remove_attribute)}}
</form>
