<div class="col-lg-4 col-md-4">
    <div class="form-group input-group">
        {{ form_widget(form_remove_remark.name,  {'attr': {'placeholder':'Name', 'title':'Name', 'class':'form-control'}}) }}
    </div>
</div>
</div>