 <form method="POST" class="ajaxForm" action="{{path('proccessRemoveEntity',{ 'type': 'topic'})}}" {{ form_enctype(form_remove_topic) }}>
        <div id="form_body">
            {% include 'SatisfactionMeterBundle:Forms:removetopicForm.html.twig' with {'form_remove_topic': form_remove_topic} %}
            <button type="submit" class="btn btn-primary remove-btn"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span>Remove selected  Topics</button>
        </div>

        {{form_rest(form_remove_topic)}}
 </form>
