{% extends '@SatisfactionMeterBundle/Resources/views/base.html.twig' %}

{% block body %}
    {% for flashMessage in app.session.flashbag.get('notice') %}
        <div class="alert alert-success" role="alert">
            {{ flashMessage }}
        </div>
    {% endfor %}
    {{ include('@SatisfactionMeterBundle/Resources/views/Menus/menu.html.twig') }}

    {{ include('@SatisfactionMeterBundle/Resources/views/Forms/addhotel.html.twig') }}

    <div id ="f-review" class="form add-form">
        {{ render(controller('SatisfactionMeterBundle:Forms:AddEntity', {'request': app.request, 'type':'review' } )) }}
    </div>

    {{ render(controller('SatisfactionMeterBundle:Forms:AddEntity', {'request': app.request, 'type':'topic' } )) }}

    <div id="r-topic" class="form">
        {{ render(controller('SatisfactionMeterBundle:Forms:RemoveEntity', {'request': app.request, 'type':'topic' } )) }}
    </div>

    {{ render(controller('SatisfactionMeterBundle:Forms:AddEntity', {'request': app.request, 'type':'attribute' } )) }}
    <div id="r-attribute" class="form">
    {{ render(controller('SatisfactionMeterBundle:Forms:RemoveEntity', {'request': app.request, 'type':'attribute' } )) }}
    </div>

    {{ render(controller('SatisfactionMeterBundle:Forms:AddEntity', {'request': app.request, 'type':'remark' } )) }}
    <div id="r-remark" class="form">
    {{ render(controller('SatisfactionMeterBundle:Forms:RemoveEntity', {'request': app.request, 'type':'remark' } )) }}
    </div>

    {{ render(controller('SatisfactionMeterBundle:Forms:UploadCsv', {'request': app.request } )) }}

    <div id="hotel-alert" style="clear:both"></div>
    <div id="form_success" style="clear:both"></div>
    <div id="form_error" style="clear:both"></div>
    {{ include('@SatisfactionMeterBundle/Resources/views/Analysis/analysis.html.twig') }}

{% endblock %}


