<div class="table-responsive">
<table id="grid-data" class="table table-condensed table-hover table-striped">
        <thead>
        <tr>
            <th data-column-id="id" data-width="8%" data-type="numeric">ID</th>
            <th data-column-id="hotel" data-width="12%">Hotel</th>
            <th data-column-id="text">Review</th>
            <th data-column-id="criteriaString" data-width="25%">Criteria</th>
            <th data-column-id="score" data-type="numeric" data-width="5%">Score</th>
            <th data-column-id="commands" data-formatter="commands" data-sortable="false" data-width="5%">Delete</th>
        </tr>
        </thead>
 </table>
    </div>


