body {
    font-family:"Arial Black", Gadget, sans-serif;
    background-color: #AFE0FF;
}

.form {
    display:none;
    width:50%;
    float:left;
    margin-top:10px;
}

.form button {
    clear:both;
    float:left;
}

#hotelForm {
    clear:both;
}

.add-form label {
    float:left;
}

label {
    font-size:13px;
    margin-right:10px;
}

form .form-control {
    min-width: 500px !important;
    height:100%;
}

.btn-group button {
    font-size:16px;
    background-color: #ffcb4f;
}

button {
    margin-left:20%;
    background-color:#ffcb4f;
}

.remove-btn {
    background-color:#fa5a5a;
}

#top-menu {
    margin-left:2%;
}

#form_success {
    text-align: center;
    margin-top:5px;
    background-color:#ffcb4f;
    font-size:18px;
}

#form_error, #hotel-alert {
    text-align: center;
    margin-top:5px;
    background-color:#fa5a5a;
    font-size:18px;
}