<div id="top-menu" class="btn-group" role="group">
    <button id="new-review-btn" type="button" class="btn btn-default" disabled><span class="glyphicon glyphicon-edit" aria-hidden="true"></span>New Review</button>
    <button id ="new-hotel-btn" type="button" class="btn btn-default"><span class="glyphicon glyphicon-header" aria-hidden="true"></span>New Hotel</button>
    <div class="btn-group" role="group">
        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span class="glyphicon glyphicon-wrench" aria-hidden="true"></span>
            Manage Criteria
            <span class="caret"></span>
        </button>
        <ul class="dropdown-menu">
            <li id="new-topic-btn"><a href="#"></span>Topics</a></li>
            <li id="new-attribute-btn"><a href="#"></span>Attributes</a></li>
            <li id="new-remark-btn"><a href="#"></span>Remarks</a></li>
        </ul>
    </div>
    <button id ="csv-btn" type="button" class="btn btn-default"><span class="glyphicon glyphicon-file" aria-hidden="true"></span>Upload CSV</button>
</div>